body {
    user-select: none;
    overflow: hidden;
    background: url("https://wallpaperaccess.com/full/19602.jpg") #000 no-repeat;
    background-size: cover;
    background-position-x: -500px;
}

.inner {
    margin-left: 450px;
    text-align: center;
}

.outer {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input {
    padding: 10px;
    background: white;
    font-weight: 800;
    font-size: 20pt;
    background: none;
    border: 3px solid white;
    font-family: futura-pt-condensed ,sans-serif;
    user-select: none;
    color: white;
    margin-bottom: 20px;
    outline: none;
    text-align: center;
    margin-right: 10px;
    width: 200px;
}

input::placeholder {
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

#join {
    width: 55px;
    height: fit-content;
    border-radius: 5px;
    outline: none;
    padding: 10px 0 10px 0;
    font-size: 22pt;
    margin-top: 10px;

    background: none;
    border: 3px solid white;
    user-select: none;
    color: white;
}

.fa {
    color: white;
}

#join:hover .fa {
    color: #4C95D9;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    border-color: #C21806;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}

.fa-globe {
    color: #4C95D9;
}

#description {
    margin-top: 20px;

    font-family: futura-pt-condensed,sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size:65pt;
    user-select: none;
    color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}
