body {
    background: black;
    width: 100%;
    height: 100%;
    padding-top: 0;
    margin: 0;
}

.earth {
    position: absolute;
    bottom: -275px;
    right: 200px;
    user-select: none;
    width: 70%;
    z-index: -1;
}

.inner {
    text-align: center;
}

.outer {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border: 16px solid #808080;
    border-top: 16px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

#title {
    font-style: italic;
    cursor: default;
    user-select: none;

    font-family: futura-pt-condensed,sans-serif;
    font-weight: 800;
    font-size:65pt;
    color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    letter-spacing: 2px;
}

#mode-name {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25pt;
    color: white;
    user-select: none;
    background: transparent;
    margin-top: 10px;
}

#mode-name:hover, #add:hover {
    animation: scale 200ms ease-in-out forwards;
}

#mode-name:not(:hover), #add:not(:hover) {
    animation: shrink 200ms ease-in-out forwards;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

#bar {
    height: 60px;
    background: black;
}

#code-display {
    position: absolute;
    color: white;
    margin: auto;
    right: 30px;
    top: 27px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30pt;
    user-select: none;
}

#name-display {
    position: absolute;
    color: white;
    margin: auto;
    left: 30px;
    top: 27px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30pt;
    user-select: none;
}

i {
    margin-right: 20px;
}

i:hover {
    color: #4C95D9;
}

#players {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 30px;
    font-size: 20pt;
    color: white;
    word-spacing: 30px;
    user-select: none;
}

#add {
    padding: 10px;
    background: black;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    border: 3px solid white;
    border-radius: 40px;
    margin: 10px 500px;
    cursor: pointer;
    color: white;
}

.team {
    vertical-align: top;
    display: inline-block;
    width: 150px;
    height: fit-content;
    border: 3px solid white;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    font-family: futura-pt-condensed, sans-serif;
    font-size: 25pt;
    color: white;
    background: black;
}

.team:hover {
    border-color: #4C95D9;
}

.teams-container {
    width: 100%;
    text-align: center;
    margin-top: 350px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 50px ,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}