<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeoGuessr</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/battle-royale.css">
    <link rel="stylesheet" href="https://use.typekit.net/xtl8ngj.css">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
</head>
<body>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjmOyNW59QdlCLMdsdZbIkK9dVomkAo6g">
</script>
<script src="../static/scripts/battle-royale.js"></script>
<div id="map"></div>
<div id="guess">GUESS</div>
<div id="street-view"></div>
<div id="mode-info">Battle Royale</div>
<div id="players-info"></div>
<div id="countdown"></div>
<div id="loader"></div>
<img id="compass" src="../static/images/compass.png" alt="Compass">
</body>
</html>