<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeoGuessr</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/dashboard.css">
    <script src="../static/scripts/dashboard.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/xtl8ngj.css">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
<div class="game-mode-container">
    <div class="game-mode" onclick="window.location.href = 'lobby?mode=classic'">CLASSIC</div>
    <div class="game-mode" onclick="window.location.href = 'lobby?mode=versus'">VERSUS</div>
    <div class="game-mode" onclick="window.location.href = 'lobby?mode=BR'">BATTLE ROYALE</div>
    <div class="game-mode" onclick="window.location.href = 'lobby?mode=hardcore'">HARDCORE</div>
    <div class="game-mode" onclick="window.location.href = 'lobby?mode=teams'">TEAMS</div>
    <div class="game-mode" id="join" onclick="window.location.href = 'join'">JOIN</div>
</div>
<img src="static/images/earth.jpg" alt="Earth" class="earth" draggable="false">
</body>
</html>