<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GeoGuessr</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="static/css/singleplayer-lobby.css">
  <link rel="stylesheet" href="https://use.typekit.net/xtl8ngj.css">
  <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
  <script src="static/scripts/singleplayer-lobby.js"></script>
</head>
<body>
<div class="header">
  <img src="static/images/logo.png" alt="Logo" class="logo" onclick="window.location.href = '/'">
  <div>Powered by Google Maps</div>
</div>
<div class="outer">
  <div class="inner" id="subtitle">Classic</div>
  <div class="inner" id="description">5 Rounds | 10-15 min</div>
  <input type="range" min="1" max="50" value="5" class="slider" id="rounds-selector" oninput="updateSlider(this.value)">
  <div class="inner" id="play-button">PLAY</div>
</div>
</body>
</html>